<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alumnos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Alumnos</h1>
        <a href="{{ url_for('create') }}" class="btn-create">Agregar nuevo alumno</a>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Carrera</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.edad }}</td>
                    <td>{{ alumno.carrera }}</td>
                    <td>
                        <a href="{{ url_for('update', id=alumno.id) }}" class="edit">Editar</a>
                        <a href="{{ url_for('delete', id=alumno.id) }}" class="delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
